name: Build docker container

on:
  push:
    branches:
      - owo

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to GCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ghcr.io/katlyn/owo.vc:latest

#  deploy:
#    needs: build
#    runs-on: ubuntu-latest
#    steps:
#      -
#        name: Deploy via ssh
#        uses: appleboy/ssh-action@master
#        with:
#          host: ${{ secrets.DEPLOY_HOST }}
#          username: ${{ secrets.DEPLOY_USER }}
#          key: ${{ secrets.DEPLOY_KEY }}
#          script: |
#            cd ${{ secrets.DEPLOY_PATH }}
#            docker-compose pull
#            docker-compose up -d
